//==============================
// Variables
//==============================


// Colors
//------------------------------

$white: #fff;
$bg-grey-light: #f0f0f0;			
$border-grey-light: #ccc;
$black: #000;
$selection: #b3d4fc;


// Typography
//------------------------------

$path-to-fonts: '/assets/fonts';
$text-margin: 15px;
