//==============================
// Variables
//==============================


// Colors
//------------------------------

$grey         : #ccc;
$selection    : #b3d4fc;

// Typography
//------------------------------

$path-to-fonts	: '/assets/fonts';
$text-margin  	: 15px;
