.DS_Store

/target/*
!/target/wp-content
/target/wp-content/*
!/target/wp-content/themes
/target/wp-content/themes/*
!/target/wp-content/themes/project-template
/target/wp-content/themes/project-template/**/.DS_Store

wp-config-staging.php
wp-config-live.php

node_modules
