.DS_Store

/target/*
!/target/wp-content
/target/wp-content/*
!/target/wp-content/themes
/target/wp-content/themes/*
!/target/wp-content/themes/blankslate
/target/wp-content/themes/blankslate/**/.DS_Store

wp-config-staging.php
wp-config-live.php

node_modules
