//==============================
// Body Copy
//==============================

.body-copy {
	h1 {
    @include font-size(1.5em, 2.25em, 3em, 4em);
    line-height: 1.1em;
    margin: 0 0 0.5em;
  }

  h2 {
    @include font-size(1.4em, 2em, 2.5em, 3em);
    line-height: 1.1em;
    margin: 0 0 0.5em;
  }

  h3 {
    @include font-size(1em, 1.75em, 2em, 2.5em);
    line-height: 1.1em;
    margin: 0 0 0.5em;
  }

  p {
    font-size: 1em;
    line-height: 1.5;
    margin: 0 0 1em;
  }

  ul,
  ol {
    margin: 0 0 0 2em;
    padding: 0;
  }

  li {
    font-size: 1em;
    line-height: 1.4;
    margin: 0 0 0.75em;
  }
}