//==============================
// Form
//==============================

%input {
  background-color: $white;
  border: $border-grey-light solid 1px;
  border-radius: 0;
  box-sizing: border-box;
  box-shadow: none;
  color: currentColor;
  display: block;
  font: inherit;
  line-height: 1;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  transition: border-color 0.2s;
}

.form {
  background: $bg-grey-light;
  border: $border-grey-light solid 1px;
  padding: 1em;
  margin: 1em 0 0 0;

  &-field {
    display: block;
    margin-bottom: 1em;
  }
}

label {
  display: block;
  margin-bottom: 0.25em;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea,
select {
  @extend %input;
  padding: 0.5em;
  width: 100%;

  &:focus {
    box-shadow: none;
    outline: none;
    border-color: $black;
  }

  &:not([value=""]),
  &:focus {
    box-shadow: none;
    outline: none;
    border-color: $black;

    &:invalid {
      border-color: red;
    }

    &:valid {
      border-color: green;
    }
  }  
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  margin-right: 0.5em;
}

input[type="checkbox"] + input[type="checkbox"],
input[type="radio"] + input[type="radio"] {
  margin-top: 0.5em;
}

input[type="submit"] {
  @extend %input;
  padding: 0.5em 1em;

  &:hover {
    border-color: $black;
  }
}
