//==============================
// Header
//==============================

.header-main {
	background: $bg-grey-light;
	border-bottom: $border-grey-light solid 1px;
	padding: 1.5em 2em;
	margin-bottom: 2em;
}
