//==============================
// Pages - Base
//==============================

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 20px 100px;
  width: auto;
}

.section {
  margin-bottom: 4em;
}
